<header class="header vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 class="fw-lighter text-uppercase">
          Eu sou um desenvolvedor
        </h1>
        <h2
          class="display-1 my-3 fw-bold text-uppercase d-inline-block typed"
          id="typed"
        >
        </h2>
        <p class="fs-5 fw-light text-secondary">baseado em Salvador, BA.</p>
        <div class="mt-4 d-flex gap-4 align-items-center">
          <a
            href="#about-me"
            class="btn btn-primary btn-lg shadow-lg rounded-0 text-uppercase"
          >Sobre mim</a>
          <a href="#" class="fs-5 link-secondary text-capitalize">
            Baixar currículo
            <i class="fas fa-circle-arrow-down ms-2"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <div
          class="bg-light rounded-circle img-container d-flex justify-content-center align-items-center shadow-lg ms-lg-5"
        >
          <img
            src="assets/profile.jpg"
            alt=""
            class="rounded-circle"
            width="380"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <a class="scroll-arrow" href="#about-me"></a>
    </div>
  </div>
</header>
