<nav class="navbar navbar-expand-lg fixed-top pt-2" role="navigation">
  <div class="container">
    <a href="#" class="navbar-brand fs-3 fw-semibold">Marlon Couto</a>
    {{! MENU HAMBÚRGUER }}
    <div
      class="z-1 position-relative d-lg-none d-block navbar__hamburger mt-1"
      role="button"
      aria-label="alternar menu de navegação"
      id="navbarNavOverlay"
    >
      <label>
        <input
          type="checkbox"
          class="d-block position-absolute z-2 opacity-0"
        />
      </label>
      <span class="z-1 d-block position-relative"></span>
      <span class="z-1 d-block position-relative"></span>
      <span class="z-1 d-block position-relative"></span>
    </div>
    {{! LINKS DE NAVEGAÇÃO }}
    <ul class="d-none navbar-nav d-lg-flex mt-2" id="navbarLinks">
      <li class="nav-item">
        <a href="/index.html#header" class="nav-link link-lg">Início</a>
      </li>
      <li class="nav-item">
        <a href="/index.html#aboutMe" class="nav-link link-lg">Sobre Mim</a>
      </li>
      <li class="nav-item">
        <a href="/index.html#skills" class="nav-link link-lg">Skills</a>
      </li>
      <li class="nav-item">
        <a href="/index.html#contact" class="nav-link link-lg">Contato</a>
      </li>
      {{! LINKS SOCIAIS }}
      <ul class="navbar-nav ms-lg-3 nav-icons">
        <li class="nav-item">
          <a
            href="https://github.com/marlon-couto"
            target="_blank"
            class="nav-link github-icon"
            title="Me siga no GitHub"
          >
            <i class="fab fa-github fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://linkedin.com/in/marlon-couto"
            title="Vamos nos conectar no LinkedIn"
            target="_blank"
            class="nav-link linkedin-icon"
          >
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="mailto:coutoozair@gmail.com"
            class="nav-link"
            title="Me envie um email"
            target="_blank"
          >
            <i class="fas fa-inbox fa-2x"></i>
          </a>
        </li>
      </ul>
      {{! THEME TOGGLE SWITCH }}
      <div class="navbar__toggle navbar-nav ms-lg-3 align-items-center">
        <label for="themeToggle" class="nav-link">
          <i class="fas fa-sun fa-2x"></i>
          <i class="fas fa-moon fa-2x"></i>
        </label>
        <input type="checkbox" id="themeToggle" class="opacity-0" />
      </div>
    </ul>
  </div>
</nav>