@use "../abstracts" as abs;

.skills {
  &__title {
    .skills--animated & {
      @include abs.animateUp();
    }
  }

  &__resume {
    @include abs.breakpointDown(large) {
      text-align: center;
      margin-bottom: 5.5rem;
    }

    @include abs.breakpointDown(medium) {
      margin-bottom: 4.5rem;
    }

    p {
      .skills--animated & {
        @include abs.animateLeft();
      }
    }

    .btn {
      .skills--animated & {
        @include abs.animateLeft(0.75s);
      }
    }
  }

  &__techs {
    .skills--animated & {
      @include abs.animateRight();
    }

    .card {
      width: 7.5rem;
      height: 7.5rem;
      display: flex;
      justify-content: center;
      margin-bottom: 1.25rem;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
        background-color: var(--bs-secondary-bg);
      }
    }
  }
}
