---

---

<!--SOBRE MIM-->
<section
  id="about-me"
  class="about-me bg-body-secondary pt-md-7 pt-6 pb-5 pb-md-6 min-vh-100"
>
  <div class="container">
    <!--TÍTULO-->
    <div class="about-me__title">
      <h4
        class="text-capitalize text-bg-primary fs-5 d-inline-block py-1 px-2"
      >Sobre mim</h4>
      <h2 class="text-capitalize display-5 mt-2 fw-bold alt-font">Me conheça melhor</h2>
    </div>
    <!--CONTEÚDO-->
    <div class="row about-me__content">
      <div class="col-lg-8 d-flex flex-column pt-5">
        <h3 class="fs-2 fw-normal">Olá, eu me chamo
          <span class="fw-semibold lh-lg about-me__name">Marlon Couto</span>
        </h3>
        <p class="lead pe-3 about-me__description">
          Eu sou um desenvolvedor com paixão pelo mundo da programação. Eu
          amo desenvolver sistemas eficientes com interfaces bonitas que
          entregam verdadeiro valor à pessoa usuária. Eu dou meu melhor em tudo
          que faço.
        </p>
      </div>
      <!--ANOS DE EXPERIÊNCIA-->
      <div
        class="col-lg-4 about-me__experience d-flex flex-column align-items-center pt-5"
      >
        <div
          class="experience d-flex flex-column align-items-center justify-content-center"
        >
          <p class="experience__year z-1 position-relative">2</p>
          <p class="fs-4 text-muted d-inline-block mt-n2">Anos de experiência</p>
        </div>
      </div>
    </div>
    <!--INFORMAÇÕES-->
    <div class="row about-me__info">
      <div class="col-md-6 col-lg-3 mb-md-3 mb-4">
        <h5 class="fs-6 text-muted">Nome:</h5>
        <p class="lead text-body-emphasis fw-semibold">Marlon Couto</p>
      </div>
      <div class="col-md-6 col-lg-3 mb-md-3 mb-4">
        <h5 class="fs-6 text-muted">Email:</h5>
        <a
          href="mailto:coutoozair@gmail.com"
          class="lead link-body-emphasis fw-semibold"
          target="_blank"
        >
          coutoozair@gmail.com
        </a>
      </div>
      <div class="col-md-6 col-lg-3 mb-md-3 mb-4">
        <h5 class="fs-6 text-muted">Data de nascimento:</h5>
        <p class="lead text-body-emphasis fw-semibold">17 de janeiro de 1991</p>
      </div>
      <div class="col-md-6 col-lg-3 mb-md-3 mb-4">
        <h5 class="fs-6 text-muted">Localização:</h5>
        <p class="lead text-body-emphasis fw-semibold">
          Salvador, Bahia
        </p>
      </div>
    </div>
  </div>
</section>
