---
import ContactForm from "./ContactForm.astro";
---

<!--CONTATO-->
<section
  id="contact"
  class="contact pt-md-7 pt-6 pb-md-6 min-vh-100"
>
  <div class="container">
    <!--TÍTULO-->
    <div class="contact__title mb-5">
      <h4
        class="text-capitalize text-bg-primary fs-5 d-inline-block py-1 px-2"
      >Contato</h4>
      <h2 class="text-capitalize display-5 mt-2 fw-bold">Fale comigo</h2>
    </div>
    <!--CONTEÚDO-->
    <div class="row contact__content">
      <div class="col-lg-6">
        <p class="lead contact__message">
          Vamos conversar sobre novas ideias e novos projetos! Por favor,
          compartilhe o máximo de informações possível para podermos tirar o
          máximo proveito desse primeiro contato.
        </p>
        <!--INFORMAÇÕES-->
        <div class="row contact__info mt-5">
          <div class="col-md-6 mb-md-3 mb-4">
            <h5 class="fs-6 text-muted">Email:</h5>
            <a
              href="mailto:coutoozair@gmail.com"
              class="lead link-body-emphasis fw-semibold"
              target="_blank"
            >
              coutoozair@gmail.com
            </a>
          </div>
          <div class="col-md-6 mb-md-3 mb-4">
            <h5 class="fs-6 text-muted">Telefone:</h5>
            <a
              href="https://wa.me/+5511917593873/?text=Oi%2C+tudo+bem%3F"
              class="lead link-body-emphasis fw-semibold"
              target="_blank"
            >
              (11) 91759-3873
            </a>
          </div>
          <!--REDES SOCIAIS-->
          <div class="contact__social d-flex gap-3 mt-3">
            <a
              href="https://github.com/marlon-couto"
              target="_blank"
              class="github-icon link-body-emphasis"
              title="me siga no GitHub"
            >
              <i class="fab fa-github fa-2x"></i>
            </a>
            <a
              href="https://linkedin.com/in/marlon-couto"
              title="vamos nos conectar no LinkedIn"
              target="_blank"
              class="linkedin-icon link-body-emphasis"
            >
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
      <ContactForm></ContactForm>
    </div>
  </div>
</section>
