---

---

<!--FORMULÁRIO DE CONTATO-->
<div class="col-lg-6 px-5">
  <form
    class="contact__form"
    id="contact-form"
    novalidate
    action="https://formspree.io/f/xoqozazw"
    method="post"
  >
    <div class="mb-5">
      <label class="form-label" for="input-name">Primeiro Nome</label>
      <input
        type="text"
        class="form-control bg-transparent border-top-0 border-start-0 border-end-0 rounded-0 py-2"
        placeholder="Como você se chama?"
        id="input-name"
        required
        minlength="2"
        pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\\s]+$"
        name="name"
      />
      <div class="invalid-feedback">O nome deve conter apenas letras e espaços.</div>
    </div>
    <div class="mb-5">
      <label class="form-label" for="input-email">E-mail</label>
      <input
        type="email"
        class="form-control bg-transparent border-top-0 border-start-0 border-end-0 rounded-0 py-2"
        placeholder="Digite seu melhor e-mail."
        id="input-email"
        required
        name="email"
      />
      <div class="invalid-feedback">
        O email deve seguir o seguinte formato: nome@email.com.
      </div>
    </div>
    <div class="mb-5">
      <label class="form-label" for="input-message">Mensagem</label>
      <textarea
        class="form-control bg-transparent border-top-0 border-start-0 border-end-0 rounded-0"
        placeholder="Como posso te ajudar?"
        rows="6"
        id="input-message"
        required
        minlength="10"
        name="message"
      ></textarea>
      <div class="invalid-feedback">
        Sua mensagem deve conter um número mínimo de caracteres.
      </div>
    </div>
    <div class="mb-5 d-grid">
      <button
        class="btn btn-primary"
        type="submit"
        id="contact-btn"
        disabled
      >Enviar
      </button>
    </div>
  </form>
</div>
