<!--MENU HAMBÚRGUER-->
<div
  class="z-1 position-relative d-lg-none d-block navbar__hamburger mt-1"
  role="button"
  aria-label="alternar menu de navegação"
  id="navbar-overlay"
>
  <label>
    <input
      type="checkbox"
      class="d-block position-absolute z-2 opacity-0"
    />
  </label>
  <span class="z-1 d-block position-relative"></span>
  <span class="z-1 d-block position-relative"></span>
  <span class="z-1 d-block position-relative"></span>
</div>
