<!--THEME TOGGLE SWITCH-->
<div class="navbar__toggle navbar-nav align-items-center position-fixed z-3">
  <label for="theme-toggle" class="nav-link">
    <i class="fas fa-sun fa-2x"></i>
    <i class="fas fa-moon fa-2x"></i>
    <input
      type="checkbox"
      id="theme-toggle"
      class="opacity-0"
      title="Alternar tema"
    />
  </label>
</div>
