---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/index.scss";

interface Props {
  title: string;
}
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!--POPPINS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>

  <body>
    <Navbar />
    <slot />
    <Footer />
    <!--SCRIPTS-->
    <!--BOOTSTRAP 5 JS-->
    <script
      is:inline
      src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--SCRIPT PARA DETECTAR TEMA CLARO/ESCURO-->
    <script is:inline src="/lib/bootstrap/darkmodetoggle.min.js"></script>
    <script src="../scripts/main.ts"></script>
  </body>
</html>
