.about-me {
  &__title {
    .about-me--animated & {
      animation: slideUp 1s ease;
    }

    @include breakpointDown(medium) {
      margin-bottom: 3rem;
    }
  }

  &__content {
    height: 50vh;

    @include breakpointDown(large) {
      text-align: center;
      margin-top: 2rem;
    }

    @include breakpointDown(medium) {
      height: 100%;
    }

    h3 {
      .about-me--animated & {
        animation: slideLeft 1s ease-out;
      }
    }
  }

  &__name {
    border-bottom: 4px solid var(--bs-primary);

    @include breakpointDown(medium) {
      display: inline-block;
    }
  }

  &__description {
    line-height: 2;

    .about-me--animated & {
      animation: slideLeft 1.5s ease-out;
    }

    @include breakpointDown(large) {
      font-size: 1.35rem !important;
    }

    @include breakpointDown(medium) {
      font-size: 1.25rem !important;
      margin-top: 1rem;
    }
  }

  &__experience {
    @include breakpointDown(medium) {
      margin-top: 2rem;
    }
  }

  &.about-me--animated .experience {
    animation: slideRight 1s ease;
  }

  .experience {
    &__year {
      font-size: 11rem;
      line-height: 0.75;
      top: -10px;
      left: 34px;

      &::after {
        content: "";
        width: 100px;
        height: 100px;
        background-color: var(--bs-primary);
        display: inline-block;
        border-radius: 50%;
        position: relative;
        opacity: 0.75;
        top: -13px;
        left: -75px;
        z-index: -1 !important;
      }
    }
  }

  &__info {
    .about-me--animated & {
      animation: slideBottom 1s ease;
    }

    @include breakpointDown(large) {
      margin-top: 4rem !important;
    }

    @include breakpointDown(medium) {
      margin-top: 2rem !important;

      .col-md-6 {
        height: 58px;
      }
    }
  }
}
