.header {
  .row {
    @include breakpointDown(large) {
      gap: 6rem;
      flex-direction: column-reverse;
    }

    @include breakpointDown(medium) {
      gap: 2.5rem;
    }
  }

  &__txt {
    @include breakpointDown(large) {
      text-align: center;
    }
  }

  &__typing {
    // texto com gradiente
    // https://cssgradient.io/blog/css-gradient-text/
    @include textGradient();

    &::after {
      content: "|";
      display: inline;
      -webkit-animation: blinkCursor 0.75s infinite;
      -moz-animation: blinkCursor 0.75s infinite;
      animation: blinkCursor 0.75s infinite;
    }

    &::-moz-selection {
      background-color: var(--bs-primary);
      -webkit-text-fill-color: var(--bs-light);
    }

    &::selection {
      background-color: var(--bs-primary);
      -webkit-text-fill-color: var(--bs-light);
    }
  }

  .typed-cursor {
    opacity: 0;
    display: none;
  }

  &__btn {
    @include breakpointDown(large) {
      justify-content: center;
    }

    @include breakpointDown(medium) {
      flex-direction: column;
      margin-top: 2rem !important;
      padding-bottom: 4rem;
    }
  }

  &__img {
    width: 410px;
    height: 410px;

    @include breakpointDown(medium) {
      width: 280px;
      height: 280px;
      margin-top: 4rem;

      img {
        width: 260px;
        height: 260px;
      }
    }
  }

  // seta animada
  // https://codepen.io/kchez/pen/rqvEBB?editors=0100
  &__arrow {
    position: relative;
    top: calc(100vh - 800px);

    @include breakpointDown(large) {
      top: calc(80vh - 850px);
    }

    @include breakpointDown(medium) {
      top: calc(80vh - 780px);
    }

    @include breakpointDown(small) {
      top: calc(80vh - 740px);
    }

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      border-right: 5px solid var(--bs-body-color);
      border-bottom: 5px solid var(--bs-body-color);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-animation: 3s animateArrow infinite ease;
      animation: 3s animateArrow infinite ease;

      @include breakpointDown(small) {
        width: 15px;
        height: 15px;
        border-right: 4px solid var(--bs-body-color);
        border-bottom: 4px solid var(--bs-body-color);
      }
    }
  }
}
