@use "./bootstrap";
@use "./fontawesome";
@import "./variables";
@import "./mixins";
@import "./animations";
@import "./navbar";
@import "./header";
@import "./about-me";
@import "./skills";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  transition: background 1s ease-in;
}

::-moz-selection {
  color: var(--bs-light);
  background-color: var(--bs-primary);
}

::selection {
  color: var(--bs-light);
  background-color: var(--bs-primary);
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
  }
}
