---

---

<!--THEME TOGGLE SWITCH-->
<div class="navbar__toggle navbar-nav ms-lg-3 align-items-center">
  <label for="themeToggle" class="nav-link">
    <i class="fas fa-sun fa-2x"></i>
    <i class="fas fa-moon fa-2x"></i>
  </label>
  <input type="checkbox" id="themeToggle" class="opacity-0" />
</div>
